ul{
    text-decoration:underline;
    color: blue;
    display: inline-block;
    vertical-align: top;
    margin-left: none;
}
ul:hover{
    text-decoration:none;
    color: black;
    background-color: #fff;
    border: 1px 1px 1px;
    border-color: black;
    box-shadow: 0 0 10px;
    margin-left: none;
}

ul:hover li{
    display: list-item;
    list-style-type: none;
    border: black 2px;
    color:  black;
    text-decoration:none;

}
li{
    display: none;
    padding: 5px;
}